$font-roboto: 'Roboto', sans-serif;
$blue-grey: #37474f;
$darker-blue-grey: #102027;
$light-grey: #e0e0e0;
$light-green: #00c853;

.title {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: $darker-blue-grey;
    h2 {
        font: 400% $font-roboto;
        color: $light-grey;
        margin-left: 4%;
        margin-top: 0.7%;
        margin-bottom: 3%;
    }
    p {
        font: 135% $font-roboto;
        color: $light-grey;
        margin-top: 2.48%;
        margin-right: 4%;
    }
}

body {
    margin: 0%;
    background-color: $blue-grey;
}

////////////////////////////////////////////

.form {
    text-align: center;
    input {
        outline: none;
        background-color: $blue-grey;
        margin-top: 3%;
        width: 30%;
        padding: 0.5%;
        border: none;
        border-bottom: 4px solid #0d191f;
        border-radius: 3.5%;
    }
    input[type="text"]{
        font: 130% $font-roboto;
        color: $light-grey
    }
    button {
        position: absolute;
        cursor: pointer;
        outline: none;
        padding: 1%;
        margin-left: 1%;
        margin-top: 2.85%;
        border: none;
        background-color: $light-grey;
        border-radius: 10px;
        font: 101% $font-roboto;
    }
    .clicked-button {
        padding: 0.9%;
        background-color: $light-green;
        transition: 0.2s ease-in-out;
        box-shadow: 0.5px 0.5px 0.5px 2px $darker-blue-grey;
    }
    .unclick-button {
        padding: 1%;
        box-shadow: 0px;
        transition: 0.2s;
        background-color: $light-grey;
    }
}

#to-do-list {
    display: block;
    text-align: center;  
    .to-do {
        display: inline-block;
        text-align: left;
        background-color: #00363a;
        width: 44%;
        color: $light-grey;
        font: 120% $font-roboto;
        padding: 1%;
        border-radius: 6px;
    }
    .fa-check {
        cursor: pointer;
        margin-left: 2%;
    }
    .fa-trash {
        cursor: pointer;
        margin-left: 2%;
    }
}

.to-do-cross-out {
    transition: 0.3s ease-in;
    padding: 1.5%;
    background-color: $light-green;
    text-decoration: line-through;
}

@media (max-width: 450px) and (max-height: 850px) {
    .title {
        display: block;
        h2 {
            font-size: 350%;    
        }
        p {
            font-size: 110%;
            padding-bottom: 5%;
            margin-left: 5%;
        }
    }
    .form {
        input {
            width: 50%;
        }
        input[type="text"]{
            font-size: 90%;
            padding-bottom: 1%;
        }
        button{
            padding: 2%;
            margin-left: 3%;
        }
        .clicked-button {
            padding: 1.9%;
            background-color: #00c853;
            transition: 0.2s ease-in-out;
            box-shadow: 0.5px 0.5px 0.5px 2px $darker-blue-grey;
        }
        .unclick-button {
            padding: 2%;
            box-shadow: 0px;
            transition: 0.2s;
            background-color: $light-grey;
        }
    }
}

