$font-roboto: 'Roboto', sans-serif;
$blue-grey: #37474f;
$darker-blue-grey: #102027;
$light-grey: #e0e0e0;
$material-green: #00c853;
$material-red: #f44336;

header {
    display: flex;
    background-color: $darker-blue-grey;
    justify-content: space-evenly;
    align-items: center;
    .logo-title {
        display: flex;
        margin: 1%;
        img{
            width: 10%;
            justify-content: flex-end;
        }
        .title {
            font: 4em $font-roboto;
            color: $light-grey;
            margin: 0;
            flex: 1;
            span {
                color: cadetblue;
            }
        }   
    }

    p {
        font: 1.1em $font-roboto;
        color: rgba(240, 240, 240, 0.726);
    }
}

body {
    margin: 0%;
    background-color: $blue-grey;
}

////////////////////////////////////////////

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    input {
        outline: none;
        background-color: $blue-grey;
        width: 30%;
        padding: 0.5%;
        border: none;
        border-bottom: 4px solid #0d191f;
        border-radius: 3.5%;
    }
    input[type="text"]{
        font: 130% $font-roboto;
        color: $light-grey
    }
    button {
        cursor: pointer;
        outline: none;
        padding: 1%;
        border: none;
        margin-left: 2%;
        background-color: $light-grey;
        border-radius: 10px;
        font: 101% $font-roboto;
        transition: 0.3s ease-in;

    }
    @media (hover: hover){
        button:hover{
            color: $light-grey;
            background-color: $darker-blue-grey;
        }
        .clicked-button:not():hover {
            color: $darker-blue-grey;
            background-color: $light-grey;
            transition: 0.2s ease-in-out;
        }
    }
}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5%;
    opacity: 1;
    transition: opacity 700ms ease;
    .new-todo{
        list-style: none;
        background: $darker-blue-grey;
        color: $light-grey;
        padding: 1.5%;
        font: 130% $font-roboto;
        width: 40%;
        overflow-y: auto
    }
    .complete-button, 
    .delete-button {
        display: inline-block;
        cursor: pointer;
        background: $light-grey;
        font-size: 115%;
        height: 100%;
        transition: 0.2s ease-in;
    }

    @media (hover: hover) {
        i.complete-button:hover {
            color: $light-grey;
            background: $material-green;
        } 
        i.delete-button:hover {
            color: $light-grey;
            background: $material-red;
        }
    }
}

@media screen and (max-width: 1340px){

    header {
        flex-direction: column;

        .logo-title{
            text-align: center;
            align-items: center;   
            margin-bottom: -1%;
            display: inline-block;
     
            .title{
                font-size: 5em;
            }
            img{
                width: 8%;
            }
        }
        p {
            font-size: 1.5em;
            text-align: center;
        }
    }
    form {
        margin-top: 5%;
        input{
            width: 50%;
        }
    }
    .todo{
        display: flex;
        justify-content: center;
        align-items: center;
        .new-todo{
            width: 60%;
        }
    }
}

@media screen and (max-width: 1024px){

    header {
        flex-direction: column;
        .logo-title{
            text-align: center;
            align-items: center;
            .title{
                font-size: 5em;
            }
        }
        p {
            font-size: 1.2em;
            text-align: center;
        }
    }
    form {
        margin-top: 5%;
        input{
            width: 45%;
        }
    }
    .todo{
        display: flex;
        justify-content: center;
        align-items: center;
        .new-todo{
            width: 60%;
        }
    }
}

@media screen and (max-width: 860px){
    header {
        flex-direction: column;
        .logo-title{
            text-align: center;
            align-items: center;
            .title{
                font-size: 4em;
            }
            
        }
        p {
            text-align: center;

        }
    }
    form {
        margin-top: 7%;
        input{
            width: 45%;
        }
    }
    .todo{
        display: flex;
        justify-content: center;
        align-items: center;
        .new-todo{
            width: 60%;
        }
    }
}

@media screen and (max-width: 620px){

    header {
        flex-direction: column;
        .logo-title{
            text-align: center;
            align-items: center;
            .title{
                font-size: 3.1em;
            }
            img{
                width: 10%;
            }
        }
        p {
            text-align: center;

        }
    }
    form {
        margin-top: 10%;
        input{
            width: 50%;
        }

    }
    .todo{
        display: flex;
        justify-content: center;
        align-items: center;
        .new-todo{
            width: 60%;
        }
    }
}

@media screen and (max-width: 450px){
    header {
        flex-direction: column;
        justify-content: center;
        .logo-title {
            text-align: center;
            .title {
                font-size: 2.5em;
            }
        }    
        p {
            font-size: 0.9em;
        }
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 13%;
        input {
            width: 60%;
        }
        input[type="text"]{
            font-size: 90%;
            padding-bottom: 1%;
        }
        button{
            padding: 3%;
            margin-left: 3%;
        }
    }
    .todo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
        margin-right: 15%;
        .new-todo{
            width: 85%;
            padding: 5%;
            font-size: 1.1em;
        }
        .complete-button, .delete-button {
            font-size: 89%;
            padding: 5.5%;
        }
    }
}

@media screen and (max-width: 380px){
    header {
        flex-direction: column;
        justify-content: center;
        .logo-title {
            text-align: center;
            .title {
                font-size: 2.5em;
            }
        }    
        p {
            font-size: 0.9em;
        }
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 13%;
        input {
            width: 60%;
        }
        input[type="text"]{
            font-size: 90%;
            padding-bottom: 1%;
        }
        button{
            padding: 3%;
            margin-left: 3%;
        }
    }
    .todo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
        margin-right: 15%;
        .new-todo{
            width: 85%;
            padding: 5%;
            font-size: 1.1em;
        }
        .complete-button, .delete-button {
            font-size: 89%;
            padding: 5.5%;
        }
    }
}



.fa-check, .fa-trash {
    pointer-events: none;
}