header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #102027;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1%;
}

header .logo-title img {
  width: 10%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .logo-title .title {
  font: 4em "Roboto", sans-serif;
  color: #e0e0e0;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .logo-title .title span {
  color: cadetblue;
}

header p {
  font: 1.1em "Roboto", sans-serif;
  color: rgba(240, 240, 240, 0.726);
}

body {
  margin: 0%;
  background-color: #37474f;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
}

form input {
  outline: none;
  background-color: #37474f;
  width: 30%;
  padding: 0.5%;
  border: none;
  border-bottom: 4px solid #0d191f;
  border-radius: 3.5%;
}

form input[type="text"] {
  font: 130% "Roboto", sans-serif;
  color: #e0e0e0;
}

form button {
  cursor: pointer;
  outline: none;
  padding: 1%;
  border: none;
  margin-left: 2%;
  background-color: #e0e0e0;
  border-radius: 10px;
  font: 101% "Roboto", sans-serif;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

@media (hover: hover) {
  form button:hover {
    color: #e0e0e0;
    background-color: #102027;
  }
  form .clicked-button:not():hover {
    color: #102027;
    background-color: #e0e0e0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5%;
  opacity: 1;
  -webkit-transition: opacity 700ms ease;
  transition: opacity 700ms ease;
}

.todo .new-todo {
  list-style: none;
  background: #102027;
  color: #e0e0e0;
  padding: 1.5%;
  font: 130% "Roboto", sans-serif;
  width: 40%;
  overflow-y: auto;
}

.todo .complete-button,
.todo .delete-button {
  display: inline-block;
  cursor: pointer;
  background: #e0e0e0;
  font-size: 115%;
  padding: 1.66%;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

@media (hover: hover) {
  .todo i.complete-button:hover {
    color: #e0e0e0;
    background: #00c853;
  }
  .todo i.delete-button:hover {
    color: #e0e0e0;
    background: #f44336;
  }
}

@media screen and (max-width: 1340px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo-title {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: -1%;
    display: inline-block;
  }
  header .logo-title .title {
    font-size: 5em;
  }
  header .logo-title img {
    width: 8%;
  }
  header p {
    font-size: 1.5em;
    text-align: center;
  }
  form {
    margin-top: 5%;
  }
  form input {
    width: 50%;
  }
  .todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .todo .new-todo {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo-title {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo-title .title {
    font-size: 5em;
  }
  header p {
    font-size: 1.2em;
    text-align: center;
  }
  form {
    margin-top: 5%;
  }
  form input {
    width: 45%;
  }
  .todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .todo .new-todo {
    width: 60%;
  }
}

@media screen and (max-width: 860px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo-title {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo-title .title {
    font-size: 4em;
  }
  header p {
    text-align: center;
  }
  form {
    margin-top: 7%;
  }
  form input {
    width: 45%;
  }
  .todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .todo .new-todo {
    width: 60%;
  }
}

@media screen and (max-width: 620px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo-title {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo-title .title {
    font-size: 3.1em;
  }
  header .logo-title img {
    width: 10%;
  }
  header p {
    text-align: center;
  }
  form {
    margin-top: 10%;
  }
  form input {
    width: 50%;
  }
  .todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .todo .new-todo {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .logo-title {
    text-align: center;
  }
  header .logo-title .title {
    font-size: 2.5em;
  }
  header p {
    font-size: 0.9em;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 13%;
  }
  form input {
    width: 60%;
  }
  form input[type="text"] {
    font-size: 90%;
    padding-bottom: 1%;
  }
  form button {
    padding: 3%;
    margin-left: 3%;
  }
  .todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 8%;
    margin-right: 15%;
  }
  .todo .new-todo {
    width: 85%;
    padding: 5%;
    font-size: 1.1em;
  }
  .todo .complete-button, .todo .delete-button {
    font-size: 89%;
    padding: 5.5%;
  }
}

@media screen and (max-width: 380px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .logo-title {
    text-align: center;
  }
  header .logo-title .title {
    font-size: 2.2em;
  }
  header p {
    font-size: 0.9em;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 13%;
  }
  form input {
    width: 60%;
  }
  form input[type="text"] {
    font-size: 90%;
    padding-bottom: 1%;
  }
  form button {
    padding: 3%;
    margin-left: 3%;
  }
  .todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 8%;
    margin-right: 15%;
  }
  .todo .new-todo {
    width: 85%;
    padding: 5%;
    font-size: 1.1em;
  }
  .todo .complete-button, .todo .delete-button {
    font-size: 89%;
    padding: 5.5%;
  }
}

@media screen and (max-width: 330px) {
  header .logo-title .title {
    font-size: 2em;
  }
}

.fa-check, .fa-trash {
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */