.title {
  display: -ms-grid;
  display: grid;
  grid-column: auto;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background-color: #102027;
}

.title h2 {
  font: 400% "Roboto", sans-serif;
  color: #e0e0e0;
  margin-left: 4%;
  margin-top: 0.7%;
  margin-bottom: 3%;
}

.title p {
  font: 135% "Roboto", sans-serif;
  color: #e0e0e0;
  margin-top: 2.48%;
  margin-right: 4%;
}

body {
  margin: 0%;
  background-color: #37474f;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
}

form input {
  outline: none;
  background-color: #37474f;
  width: 30%;
  padding: 0.5%;
  border: none;
  border-bottom: 4px solid #0d191f;
  border-radius: 3.5%;
}

form input[type="text"] {
  font: 130% "Roboto", sans-serif;
  color: #e0e0e0;
}

form button {
  cursor: pointer;
  outline: none;
  padding: 1%;
  border: none;
  margin-left: 2%;
  background-color: #e0e0e0;
  border-radius: 10px;
  font: 101% "Roboto", sans-serif;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

@media (hover: hover) {
  form button:hover {
    color: #e0e0e0;
    background-color: #102027;
  }
  form .clicked-button:not():hover {
    color: #102027;
    background-color: #e0e0e0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5%;
  opacity: 1;
  -webkit-transition: opacity 700ms ease;
  transition: opacity 700ms ease;
}

.todo .newTodo {
  list-style: none;
  background: #102027;
  color: #e0e0e0;
  font: 130% "Roboto", sans-serif;
  padding: 1.5%;
  width: 40%;
}

.todo .complete-button,
.todo .delete-button {
  cursor: pointer;
  padding: 1.66%;
  background: #e0e0e0;
  font-size: 115%;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

@media (hover: hover) {
  .todo i.complete-button:hover {
    color: #e0e0e0;
    background: #00c853;
  }
  .todo i.delete-button:hover {
    color: #e0e0e0;
    background: #f44336;
  }
}

@media (max-width: 450px) and (max-height: 850px) {
  .title {
    display: block;
    margin: 0.5%;
  }
  .title h2 {
    font-size: 250%;
  }
  .title p {
    font-size: 105%;
    padding-bottom: 5%;
    margin-left: 5%;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 13%;
  }
  form input {
    width: 60%;
  }
  form input[type="text"] {
    font-size: 90%;
    padding-bottom: 1%;
  }
  form button {
    padding: 3%;
    margin-left: 3%;
  }
  .todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 8%;
    margin-right: 15%;
  }
  .todo .newTodo {
    width: 80%;
    padding: 5%;
    font-size: 105%;
  }
  .todo .complete-button, .todo .delete-button {
    border: none;
    font-size: 89%;
    padding: 5.5%;
  }
}

.fa-check, .fa-trash {
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */